body, html{
  height:100%;
  overflow: hidden;
}
body{

  background: url("https://cdn.wallpapersafari.com/29/78/oulzMx.jpg") no-repeat fixed center;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color:rgb(11, 5, 56);
}
.title{
  background-color: rgb(11, 5, 56);
}
.blinkyDancer{
  background: url("https://lh3.googleusercontent.com/proxy/AcsISMBDq_Uof-U6ABOOtMqw8Zv_MVMxJu6l1jpHq6TCDmLIuwChXiwVmjMvCtTDY3lsXkTsGJC1kOZA096j4MLOK7rLIfMX") no-repeat;
  height: 40%;
  width: 40%;
  position:absolute;
}

.donkeyDancer{
  background: url("https://img.clipartlook.com/space-invaders-clipart-sponsored-link-320.png") no-repeat;
  height: 40%;
  width: 40%;
  position: absolute;

}

.galagaDancer{
  background: url("https://arcadedanceparty.s3.us-east-2.amazonaws.com/UFO+(1).png") no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}